.todo {
    background: #fff;
    padding: 10px;
    font-size: 12px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.complete .todo-text {
    text-decoration: line-through;
    color: gray;
}

.button-block {
    display: flex;
}

.item-button {
    margin-left:10px;
    width: 30px;
}

/* https://stackoverflow.com/questions/31198170/want-to-add-spacing-between-buttons */

